/* ---- ESTILOS BASE COMPARTIDOS ---- */

.floating-bottom .form-control,
.floating-bottom .form-select {
    border: none;
    border-bottom: 1px solid #000;
    border-radius: 0;
    box-shadow: none;
}

.floating-bottom label {
    color: #000;
    font-size: 1rem;
    transition: .2s ease-in-out;
    font-family: HelveticaCustom, Arial;
}

.floating-bottom .form-control:focus~label,
.floating-bottom .form-control:not(:placeholder-shown)~label,
.floating-bottom .form-select:focus~label,
.floating-bottom .form-select:not([value=""])~label {
    transform: translateY(-1.0rem) scale(.85);
}

.form-control.is-invalid,
.form-select.is-invalid {
    border-bottom: 1px solid red;
}

.invalid-feedback {
    display: none;
    color: red;
    font-size: 0.8rem;
    margin-top: 0.2rem;
}

.is-invalid~.invalid-feedback {
    display: block;
}

/* SELECT estilo */

.floating-bottom .form-select {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='black' class='bi bi-caret-down-fill' viewBox='0 0 16 16'%3E%3Cpath d='M3.204 5h9.592L8 10.481 3.204 5z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;

    background-position: left 0.4rem bottom 0.8rem;

    background-size: 1rem;
    padding-left: 1.8rem;
    /* para que el texto no se solape con la flecha */
}

.dropdown-select {
    border: none;
}

.dropdown-select option {
    background-color: red !important;
    color: #fff;
}

.label-with-icon {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
    margin-bottom: 5px;
    border: none;
    outline: none;
    box-shadow: none;
    width: 100%;
    padding: 1rem 0.75rem;
}

.label-with-icon .bi-caret-down-fill {
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid black;
    font-size: 0;
    color: transparent;
    margin-top: 5px;
}

.label-with-icon .bi-caret-down-fill::before {
    content: none;
}

.custom-select-container {
    position: relative;
    width: 100%;
}

.custom-select-trigger {
    padding: 1rem 0.75rem;
    cursor: pointer;
    font-family: Helvetica;
    border-bottom: 1px solid #000;
    border-radius: 0;
}

.custom-select-options {
    border: solid black 1px;
    display: none;
    position: absolute;
    width: 8rem;
    background: white;
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 999;
    top: 4rem;
    border-radius: 8px;
    font-family: Helvetica, 'Oswald';
}

.custom-select-options li {
    padding: 0.8rem 1rem 0.8rem 1rem;
    cursor: pointer;
}

.custom-select-options li:hover {
    background: #e7e7e7;
}

.font-cuenta {
    font-family: Helvetica, 'Oswald';
    color: #000;
}

.label-bi {
    cursor: pointer;
}

@media (min-width: 992px) {
    .title-form {
        font-size: 4rem;
    }
}

/*FUENTES*/


@font-face {
    font-family: 'Oswald';
    src: url('./../../../fuentes/oswald-4/Oswald-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: 'Oswald';
    src: url('./../../../fuentes/oswald-4/Oswald-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}


@font-face {
    font-family: 'HelveticaCustom';
    src: url('./../../../fuentes/helvetica-255/Helvetica.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: 'HelveticaCustom';
    src: url('./../../../fuentes/helvetica-255/Helvetica-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

/*FIN FUENTES*/

.title-form {
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.input-border {
    border-bottom: solid black 1px;
    border-radius: 0%;
}

.input-border::placeholder {
    color: #000;
    opacity: 1;
    font-size: 14px;
}

.datos-container {
    max-width: 600px;
    width: 100%;
}