/* ---- ESTILOS BASE COMPARTIDOS ---- */

.floating-bottom .form-control,
.floating-bottom .form-select {
    border: none;
    border-bottom: 1px solid #000;
    border-radius: 0;
    box-shadow: none;
}

.floating-bottom label {
    color: #000;
    font-size: 1rem;
    transition: .2s ease-in-out;
    font-family: HelveticaCustom, Arial;
}

.floating-bottom .form-control:focus ~ label,
.floating-bottom .form-control:not(:placeholder-shown) ~ label,
.floating-bottom .form-select:focus ~ label,
.floating-bottom .form-select:not([value=""]) ~ label {
    transform: translateY(-1.0rem) scale(.85);
}

.form-control.is-invalid,
.form-select.is-invalid {
    border-bottom: 1px solid red;
}

.invalid-feedback {
    display: none;
    color: red;
    font-size: 0.8rem;
    margin-top: 0.2rem;
}

.is-invalid ~ .invalid-feedback {
    display: block;
}
/* SELECT estilo */
.floating-bottom .form-select {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='black' class='bi bi-caret-down-fill' viewBox='0 0 16 16'%3E%3Cpath d='M3.204 5h9.592L8 10.481 3.204 5z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;

    background-position: left 0.4rem bottom 0.8rem;

    background-size: 1rem;
    padding-left: 1.8rem; /* para que el texto no se solape con la flecha */
}



/*FUENTES*/


@font-face {
    font-family: 'Oswald';
    src: url('./../../../fuentes/oswald-4/Oswald-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: 'Oswald';
    src: url('./../../../fuentes/oswald-4/Oswald-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}


@font-face {
    font-family: 'HelveticaCustom';
    src: url('./../../../fuentes/helvetica-255/Helvetica.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: 'HelveticaCustom';
    src: url('./../../../fuentes/helvetica-255/Helvetica-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

/*FIN FUENTES*/ 

.title-form {
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

