/*FUENTES*/


@font-face {
    font-family: 'Oswald';
    src: url('../fonts/Oswald-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: 'Oswald';
    src: url('../fonts/Oswald-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}


@font-face {
    font-family: 'HelveticaCustom';
    src: url('../fonts/Helvetica-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: 'HelveticaCustom';
    src: url('../fonts/Helvetica-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

/*FIN FUENTES*/

.title-form {
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
    font-size: 3rem;
}

.input-border {
    border-bottom: solid black 1px;
    border-radius: 0%;
}

.input-border::placeholder {
    color: #000;
    opacity: 1;
    font-size: 14px;
}

.floating-bottom .form-control {
    border: none;
    border-bottom: 1px solid black;
    border-radius: 0;
    box-shadow: none;
}


.floating-bottom label {
    color: black;
    font-size: 1rem;
    transition: all 0.2s ease-in-out;
    font-weight: 100;
    font-family: Helvetica, 'Oswald';
}

/* Label flotante al hacer focus o escribir */
.floating-bottom .form-control:focus~label,
.floating-bottom .form-control:not(:placeholder-shown)~label {
    transform: translateY(-1.0rem) scale(.85);
    color: black;
}

.dropdown-select {
    border: none;
}

.dropdown-select>option:hover {
    background-color: #e7e7e7;
}

.label-with-icon {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 5px;
}

.label-with-icon label {
    margin-bottom: 0;
}

.label-with-icon .bi-caret-down-fill {
    font-size: 0.9rem;
    color: #000;
}

.dropdown-select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    outline: none;
    box-shadow: none;
    width: 20rem;
    padding: 1rem 2rem;
}

.dropdown-select:focus option {
    background: transparent;
    outline: none;
}

/* Quitar todos los bordes del desplegable */
.dropdown-select,
.dropdown-select:focus,
.dropdown-select option,
.dropdown-select option:focus {
    outline: none;
    border: none;
}

.dropdown-select option {
    background-color: red !important;
    color: #fff;
}

.custom-select-container {
    position: relative;
    width: 20rem;
}

.custom-select-trigger {
    padding: 1rem 2rem;
    cursor: pointer;
    font-family: Helvetica;
}

.custom-select-options {
    border: solid black 1px;
    display: none;
    position: absolute;
    width: 8rem;
    background: white;
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 999;
    top: 4rem;
    border-radius: 8px;
    font-family: Helvetica, 'Oswald';
}

.custom-select-options li {
    padding: 0.8rem 1rem 0.8rem 1rem;
    cursor: pointer;
}

.custom-select-options li:hover {
    background: #e7e7e7;
}

.font-cuenta {
    font-family: Helvetica, 'Oswald';
    color: #000;
}

.label-bi {
    cursor: pointer;
}

@media (min-width: 992px) {
    .title-form {
        font-size: 4rem;
    }
}